#sb-site
  #contents.estimote
    .button.btn-primary{value: 'blue'} Blue
    .button.btn-success{value: 'green'} Green
    .button.btn-warning{value: 'yellow'} Yellow
    .button.btn-danger{value: 'red'} Red
